@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;}
/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;800&display=swap'); /*font-family: 'Roboto Slab', serif; */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Slab:wght@500;800&display=swap'); /*font-family: 'Anton', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@500&family=Roboto+Slab:wght@500;800&display=swap'); /*font-family: 'Anton', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap'); /*font-family: 'Cormorant SC', serif; */
@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap'); /*font-family: 'Yaldevi', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url(../assets/backgrounds/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
   
}
/* footer===================================*/
#footer{
    width: 100%;
    height:115px;
    color: rgb(255, 255, 255);
    padding: 20px 20px;
    font-family: 'Roboto Slab', serif;
}
/* Index Grid =============================*/
.grid-container{
    font-family: 'Yaldevi', sans-serif;
    font-size: 35px;
   
    width: 90%;
    height: 600px;
    margin: 40px auto; 

    display: grid;
    grid-template-columns: 500px 726px 500px;
    grid-template-rows: 100px;
    grid-template-areas:
    "titulo nada  titulo-ubi"
    "video  nada  ubi"
    ;
}
.item{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.item1{
    color: white;
    flex-direction: column;
    justify-content: end;
    border-bottom: white solid 2px ;
    border-radius: 20px;

    grid-area: titulo;
}
.item2{ 
    flex-direction: column;
    justify-content:flex-start;
    margin-top: 35px;
   
    grid-area: video;
}
.item3{
    color: white;
    flex-direction: column;
    justify-content: end;
    border-bottom: white solid 2px ;
    border-radius: 20px;

    grid-area: titulo-ubi;
}
.item4{
    flex-direction: column;
    justify-content:flex-start;
    margin-top: 35px;

    grid-area: ubi;  
}
/*Index Grid Responsive=======================*/
@media (max-width:768px){
    .grid-container{
    font-family: 'Yaldevi', sans-serif;
    font-size: 35px;
    
    width: 90%;
    height: 600px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "titulo"
    "video"
    "titulo-ubi"
    "ubi"
    ;
    }

.item1{
    text-align: center;      
}
.item3{
    text-align: center;
}

}
/*Barra de navegacion=============================*/
header{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    text-decoration:none;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.555);
}
.logo-header img{
    width: 80px;
}
.nav-menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 20px;
    border-bottom: #fff solid 2px;
    border-radius: 20px;   
}
.nav-menu li{
    margin-right: 1rem;    
}
.nav-menu a{
    color: #fff;
    text-decoration: none;
    font-family: 'Yaldevi', sans-serif;   
}
.btn{
    border: none;
}

.btn a{
    background-color: rgb(14, 12, 158);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family: 'Yaldevi', sans-serif;
}
.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
.menu-icon, #check{
    display: none;
}
/*Barra de nav responsive====================================*/
@media (max-width:768px){
    header{
        background-color:rgba(255, 255, 255, 0.226);
    }
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        position:unset;
        top: 20px;
        right: 20px;
        cursor: pointer;
        
    }
    .nav-menu ul{
        display: block;
        position: fixed;
        top:70px;
        left:-100%;
        background-color:black;
        width: 100%;
        height: 100vh;
        right: 0;
    }
    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .nav-menu ul li:last-child{
        background: none;
        padding: 1rem;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }
    
} 
/*FORMULARIO DE CONTACTO===================================*/
.body-contact{
    background: #00000025;
    color: #fff;
    font-family: 'Yaldevi', sans-serif;
    padding: 0 1.5em;
    border-radius: 20px;
}

.contenido{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    margin-top: 6em;
    
}

.contenedor-contacto{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.301);
    border-radius: 20px;
}

.contenedor-contacto > *{
    padding: 1em;
}

.formulario-contacto{
    background-color: #222222c5;
    border-radius: 20px;
}

.formulario-contacto form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario-contacto form .bloque{
    grid-column: 1/3;

}

.formulario-contacto form p{
    margin: 0;
    padding: 1em;
}

.formulario-contacto form button,
.formulario-contacto form input,
.formulario-contacto form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    border-bottom: 1px solid #ffffff;
    color: #fff;
}

.formulario-contacto form button{
    background-color: #1100ff;
    border-radius: 20px;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    cursor: pointer;
    font-family: 'Yaldevi', sans-serif;
}
.formulario-contacto form button:hover{
    color: blue;
    background-color: red;

}

.info-contacto{
    color: rgb(255, 255, 255);
    border-radius: 20px;
    background-image: url(/assets/backgrounds/fondo3.jpg);
    background-size: cover;  
}

.icono-perfil{
    display: flex;
    justify-content: center; 
    margin-bottom: 1em;     
}
.info-contacto h2{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.info-contacto ul{
    list-style-type: none;
    
}

.info-contacto ul li{
    padding: .3em;
}


/*Formulario responsive========================*/
@media (min-width: 768px) {

    .body-contact{
        height: 100vh;
        padding: 0 4rem;
    }

    .contenedor-contacto{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contenedor-contacto > *{
        padding: 2em;
    }

    .info-contacto h4,
    .info-contacto ul,
    .info-contacto p{
        padding: 1em;
        text-align: left;
        
    }
    
}
/*Equipamiento Grid==========================*/
.equipamiento-grid{
    font-family: "poppins", sans-serif;
    font-size: 35px;
   
   
    width: 90%;
    height: 600px;
    margin: 40px auto; 

    display: grid;
    grid-template-columns: 290px 290px 290px 290px 290px 290px;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:
    "img1 img2 img3 img4 img5 img6"
    "img7 img8 img9 img10 img11 img12"
    "img13 img14 img15 img16 img17 img18"   
    ;
}
.img{
    display: flex;
    justify-content: center;
}
.img1{
    background-color: #1100ff;
}
.img2{
    background-color: #fff;
}
.img3{
    background-color: #1100ff;
}
.img4{
    background-color: #fff;
}
.img5{
    background-color: #1100ff;
}
.img6{
    background-color: #fff;
}
.img7{
    background-color: #1100ff;
}
.img8{
    background-color: #fff;
}
.img9{
    background-color: #1100ff;
}
.img10{
    background-color: #fff;
}
.img11{
    background-color: #1100ff;
}
.img12{
    background-color: #fff;
}
.img13{
    background-color: #1100ff;
}
.img14{
    background-color: #fff;
}
.img15{
    background-color: #1100ff;
}
.img16{
    background-color: #fff;
}
.img17{
    background-color: #1100ff;
}
.img18{
    background-color: #fff;
}

/*Equipamiento  Grid Responsive==========================*/
@media(max-width:768px){
    .equipamiento-grid{
    font-family: 'Yaldevi', sans-serif;
    font-size: 35px;
    
    width: 90%;
    height: 600px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px;
    grid-template-areas:
    "img1"
    "img2"
    "img3"
    "img4"
    "img5"
    "img6"
    "img7"
    "img8"
    "img9"
    "img10"
    "img11"
    "img12"
    "img13"
    "img14"
    "img15"
    "img16"
    "img17"
    "img18"
    }
}
/*Promociones Grid =============================*/
.promociones-grid{
    font-family: 'Yaldevi', sans-serif;
    font-size: 25px;

    width: 90%;
    height: 600px;
    margin: 40px auto;

    display: grid;
    grid-template-columns:100% ;
    grid-template-rows: 300px;
    grid-template-areas: 
    "promo1"
    "promo2"
    "promo3";
}
.promo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.promo1{
    background-color: #1100ff;
}
.promo2{
    background-color: #fff;
}
.promo3{
    background-color:#1100ff;
}
/*Promociones Grid Responsive============================*/
@media(max-width:768px){
    .promociones-grid{
        font-family: 'Yaldevi', sans-serif;
    font-size: 25px;

    width: 90%;
    height: 600px;
    margin: 40px auto;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas: 
    "promo1"
    "promo2"
    "promo3"
    ;
    }
}